body {
  background: url("../images/texture.png") repeat; }

#book {
  position: relative;
  top: 100px;
  left: -430px;
  width: 1360px;
  height: 650px;
  border: 8px solid #686868;
  border-right: 16px solid #686868;
  margin: 0 auto;
  background: url("../images/page_bg.png") repeat-y;
  background-position: 160px; }
  #book #left_page_container {
    height: 100%;
    float: left;
    width: 45%; }
  #book .right_page_container {
    height: 100%;
    margin-left: 68px;
    margin-right: 12px;
    position: absolute;
    left: 540px;
    width: 743px;
    overflow: hidden;
    background: url("../images/page_bg.png") repeat-y;
    background-position: -432px; }
    #book .right_page_container p {
      padding-right: 20px; }
  #book #turn {
    position: absolute;
    right: 0;
    height: 100%;
    z-index: 3;
    overflow: hidden; }
    #book #turn .shadow_left {
      float: left;
      background: url("../images/shadow_left.png") repeat;
      width: 34px;
      height: 100%; }
    #book #turn .middle {
      float: right;
      width: auto;
      height: 100%;
      background: url("../images/turn_bg.png") repeat-y;
      background-position: 100% 0px; }
  #book #active_page {
    min-width: 743px; }
