$page_padding: 12px
$top_z: 999
$page_width: 743px

body
  background: url('../images/texture.png') repeat
  margin: 0
  padding: 0

.header
  height: 48px
  background: url('../images/header_bg.png') repeat-x
  width: 100%
  background-position: 0px -84px
.book_wrap
  -webkit-box-shadow: 0px 0px 15px rgba(50, 50, 50, 0.75)
  -moz-box-shadow:    0px 0px 15px rgba(50, 50, 50, 0.75)
  box-shadow:         0px 0px 15px rgba(50, 50, 50, 0.75)
  position: relative
  top: 100px
  left: -430px
  width: 1360px
  height: 650px
  padding: 8px
  padding-right: 16px
  margin: 0 auto
  background: #686868 url('../images/edge_bg.png') repeat
  -webkit-border-radius: 3px
  -moz-border-radius: 3px
  border-radius: 3px

  .rounded_top
    position: absolute
    width: 75px
    height: 11px
    top: -11px
    left: 518px
    background: url('../images/accent_top.png') no-repeat
  .rounded_bottom
    position: absolute
    width: 75px
    height: 11px
    bottom: -11px
    left: 518px
    background: url('../images/accent_bottom.png') no-repeat
    
#book
  width: 100%
  height: 100%
  position: relative
  background: url('../images/page_bg2.png') repeat-y
  background-position: 160px

  .page_corner_top
    width: 12px
    height: 9px
    position: absolute
    top: 0px
    right: -3px
    z-index: $top_z
    background: url('../images/page_corner_top.png') no-repeat

  .page_corner_bottom
    width: 12px
    height: 9px
    position: absolute
    bottom: 0px
    right: -3px
    z-index: $top_z
    background: url('../images/page_corner_bottom.png') no-repeat

  #left_page_container
    height: 100%
    float: left
    width: 45%
    
  .right_page_container
    height: 100%
    margin-left: 68px
    margin-right: 12px
    position: absolute
    left: 540px
    width: $page_width
    overflow: hidden
    background: url('../images/page_bg2.png') repeat-y
    background-position: -445px
    
    font-family: 'Merriweather', serif
    font-size: 15px
    line-height: 1.5em
    color: #2e2e2e
    
    img
      height: 400px
      width: auto
      display: block
      margin: 0 auto
    h1
      //font-family: 'Istok Web', sans-serif
      //font-family: 'Lato', sans-serif
      //font-family: 'Merriweather', serif
      font-family: 'Muli', sans-serif
      color: #2e2e2e
      //font-variant: small-caps
      //text-transform: none
      font-weight: 300
      margin-bottom: 0
    h2
      font-family: 'Muli', sans-serif
      font-size: 15px
      font-weight: lighter
      font-variant: normal
      text-transform: uppercase
      color: #2e2e2e
      margin-top: 10px
      letter-spacing: 0.1em
    //p, li

      
    pre
      font: 14px 'Bitstream Vera Sans Mono','Courier',monospace
      padding: 12px
      background-color: rgba(200, 200, 200, 0.2)
      border: 1px solid #dddddd
      width: 80%
      margin: 0 auto
      line-height: 1.3
      
  #turn
    display: none
    .shadow_left
      float: left
      background: url('../images/shadow_left.png') repeat
      width: 34px
      height: 100%
    .middle
      float: right
      width: auto
      height: 100%
      background: url('../images/turn_bg.png') repeat-y
      background-position: 100% 0px

    position: absolute
    right: 0
    height: 100%
    z-index: 3
    overflow: hidden
  .page
    // must be set here so content does not reflow when animating
    min-width: $page_width

#next
  z-index: $top_z + 1
  position: fixed
  right: 0
  top: 50%
  width: 40px
  height: 100px
  border: 1px solid black

#back
  z-index: $top_z + 1
  position: fixed
  left: 0
  top: 50%
  width: 40px
  height: 100px
  border: 1px solid black  